.super-mario{
    width: 200px;
   
    position: absolute;
}
.goomba{
    width: 200px;
    
    top: 400px;
    position: absolute;
}
.bowser{
    width: 200px;
    
    position: absolute;
    left: 400px;
     
}
.baloon{
width: 200px;

position:absolute;
left: 200px;
z-index: 1;

}
.word{ 
    position: absolute;
    top: 120px;
    left: 220px;
    z-index: 2;

}